@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body,
button,
input,
select,
textarea {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* Specific elements where font-family might be overridden */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a {
    font-family: 'Pretendard', sans-serif;
}

/* Ensure boxicons not overridden */
.bx,
.bxl,
.bxs {
    font-family: 'boxicons' !important;
}